*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a,
.btn {
  transition: all 300ms ease;
}

.container{
    margin: 1% 0;
}

section{
  padding: 0 2.5%;
}


/* colors */
:root{
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --teritiary-color: #444444;
  --border-color: #00000020;
  --testing-color: antiquewhite;
}


/* NAV BAR */

#home{
  position: fixed;
  display: block;
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  padding-top: px;
  padding-bottom: -10px;
  margin-top: -1%;
  z-index: 2;
}

.nav-bar{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 75px;
  align-items: center;
  margin: 1% 2.5%;
}
.nav-logo{
  grid-column: 1/3;
  overflow: hidden;
  width: 200px;
}

.nav-logo img{
  width: 100%;
}

.nav-links{
  grid-column: 3/7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
  align-items: center;
  list-style: none;
  text-align: right;
}

.nav-link-no{
  font-size: 1rem;
  font-weight: 400;
  color: var(--teritiary-color);
}

.nav-links a{
  text-decoration: none;
  color:var(--primary-color) ;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-links a:hover{
  color: var(--teritiary-color);
  text-decoration-color: rgb(181, 181, 181);
  font-size: 1.2rem;
  transition: all 300ms ease;
}

hr{
  border-color: var(--border-color);
  margin: 0px -2.5%;
}

/* PROFILE */

#profile{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 95vh;
}

#profile-text{
  grid-column: 2/5;
  grid-row: 3/7;
}

#profile-text h4{
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--teritiary-color);
  margin-bottom: -0.5rem;
  margin-top: 1rem;
}

#profile-text h1{
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}

#profile-text p{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--teritiary-color);
}

.profile-links{
  list-style: none;
  display: flex;
  margin-top: 1.1rem;
}

.profile-links a{
  color:var(--primary-color) ;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 1.5rem;
  color: var(--teritiary-color);
}

.profile-links li:hover{
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 30ms ease;
}


/* ALL BELOW SECTIONS */

.page-name{
  grid-column: 1/2;
  text-align: right;
  margin-right: 2rem;
}


/* ABOUT ME */

#about-me{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 70vh;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#about-me .page-name{
  grid-row: 3;
  color: var(--secondary-color);
}

.about-me-text p{
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.page-name h4{
  font-size: 1.2rem;
}

.about-me-text{
  grid-column: 2/5;
  grid-row: 3;
  font-size: 1rem;
  line-height: 1.2rem;
  justify-self: center;
}

#about-me-image{
  grid-column: 5/7;
  grid-row: 1/7;
  justify-self: center;
  align-self: center;
  width: 300px;
}

#about-me-image img{
  width: 100%;
  z-index: 1;
}

.image-box{
  border: solid rgba(255, 255, 255, 0.501) 2px;
  transform: translateX(20px);
  transform: translateX(10px);
}


/* PROJECTS */

#projects{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1%;
  height: 100%;
  margin-bottom: 10%;
}

#projects .page-name{
  grid-row: 2;
  color: var(--primary-color);
}

#projects-cards-container{
  grid-column: 2/7;
  grid-row: 2/7;
}

.project-card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  margin-bottom: 2%;
  background-image: url("/assets/project-bg.jpg");
  background-color: var(--primary-color);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px 0px 10px 0px;
}

.project-image{
  height: 100%;
  padding: 10px;
}

.project-image img{
  height: 100%;
  border-radius: 10px;
}

.project-card p{
  color: var(--secondary-color);
  margin: 0px 5%;
}

.project-card h2{
  color: var(--secondary-color);
  margin: 0px 5%;
}

.project-card a{
  color: var(--secondary-color);
  font-weight: 600; 
}

#project-card-2{
  text-align: right;
}

.project-card:hover{
  cursor: pointer;
  transform: scale(1.006);
  transition: all 300ms ease;
  box-shadow: -1px 2px 15px -5px rgb(0, 0, 0.3);
}

.project-card a:hover{
  color: rgb(211, 211, 211);
  cursor: pointer;
  transform: scale(1.05);
}


/* CERTIFICATES */

#certificates{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1%;
  height: fit-content;
  padding-bottom: 10%;
  background-color: var(--primary-color);
}

#certificates .page-name{
  grid-row: 2;
  color: var(--secondary-color);
}

#certificates-cards-container{
  grid-column: 2/7;
  grid-row: 2/7;
  gap: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.certificate-card{
  padding: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border-radius: 15px;
  background-image: url("/assets/certificate-bg.jpg");
  background-color: var(--secondary-color);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.certificate-card img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10%;
}

#certificate-show-more{
  height: 450px;
  text-align: center;
  justify-content: center;
}

#certificate-show-more a{
  color: var(--primary-color);
  font-weight: 600; 
}

.certificate-card:hover{
  cursor: pointer;
  transform: scale(1.01);
  transition: all 300ms ease;
  box-shadow: 5px 5px 15px -5px rgb(255, 255, 255);
}

#certificate-show-more a:hover{
  color: var(--teritiary-color);
  cursor: pointer;
  transform: scale(1.05);
}

/* CONTACTS */

#contact-me{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 50vh;
  margin-bottom: 10%;
}

#contact-me .page-name{
  grid-row: 4;
  color: var(--primary-color);
}

.contact-info-container{
  grid-column: 2/7;
  grid-row: 2/7;
  width: fit-content;
  justify-content: start;
  padding-top: 4rem;
  padding-left: 2rem;
  text-align: right;
}

.contact-info-container p{
  color: var(--primary-color);
  font-size: 2rem;
}

.contact-info-container a{
  justify-content: center;
  font-size: 3rem;
  text-underline-offset: 0.5rem;
  color: var(--teritiary-color);
}


/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

#linkedin-btn{
  width: 30px;
}

.btn {
  font-weight: 600;
  font-size: 1rem;
  transition: all 300ms ease;
  padding: 1rem;
  width: fit-content;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  box-shadow: -1px 2px 15px -5px rgb(0, 0, 0.3);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}



/* FOOTER SECTION */

footer {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}